
.office {
    img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        vertical-align: middle;
        @media ($tablet) {
            max-height: 350px;
        }
    }
    .contact-details{
        div {
            padding: 8px 8px;
        }
        p span { 
            font-family: $family-primary;
            font-weight: 700;
        }

    }
    // .contact-details {
        // @include flex(space-between, default ,column);
    // }
    h1 {
        padding-left: 0;
    }

    
    
};


.contact-form {
    // border: 1px solid black;

    padding: 12px 0;
    h2 {
        font-size: 1.5rem;
        padding-left: 12px;
        margin-bottom: 1em;
        text-align: center;
    }
    form {
        // border: 1px solid black;
        .field {
            padding: 0.75rem;
            .select, select {
                width: 100%;
            }
            input, select, option, textarea {
                border-radius: 0;
                &:focus {
                    border-color: $accentClr;
                    background-color: $focusClr;
                }
            }
            input[type="checkbox"] {
                accent-color: $accentClr;
            }
            label {
                font-family: $family-primary;
                color: $textClr;

            }
        }
        
        
    }

}

