
.office {
    // @include imgAdjuster();
    // @include flex();
    
    @media (width >= $tablet) {
        
    }
    
    div {
        border: 1px solid black;
    };
    
};

//#A5F2F3
//#d2f9f9
//#dbfafa

.contact-form {
    form {
        
        border: 1px solid black;

        .field {
            padding: 0.75rem;
            .select, select {
                width: 100%;
            }
            input, select, option, textarea {
                border-radius: 0;
                &:focus {
                    border-color: $accentClr;
                    background-color: $focusClr;
                }
            }
            input[type="checkbox"] {
                accent-color: $accentClr;
            }
            .small-btn {
                text-align: center;

            }
        }

        // background-color: #A5F2F3;
        // background-color: #d2f9f9;
        // background-color: #A5F2F3;

        
    }

}

