#footer {
    border: 1px solid black;
    background-color: $selected;
    padding: 30px;
    
    margin-top: auto;
    margin-bottom: 0;

    .header--footer{
        color: black;
        font-weight: 700;
    }

    a,
    p {
        // text-decoration: none;
        color: black;
        font-weight: 400;
    }
  
    //Ikoner
    .fa-brands, .fa-solid {
        color: $neutralClr;
        width: 1rem;
    }
}

