.contact-form {
    background-color: $accentClr;
    padding: 12px;
    .form-header {
        text-align: center;
        padding: 12px 12px;
        h2 {
            font-size: 1.5rem;
            margin-bottom: 1em;
            text-align: center;
        };
    };
    form {
        .field {
            padding: 12px;

            .select, select {
                width: 100%;
            };
            input, select, option, textarea {
                border-radius: 0;
                &:focus {
                    border-color: darken($accentClr, 40%);
                };
            };
            input[type="checkbox"] {
                accent-color: darken($accentClr, 40%);
            };
            label {
                font-family: $family-primary;
                color: $textClr;
            };
            
        };
    };
};