
// Layout för footer att funka
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}


.columns {
    margin: 0;
}
// .column {
//     padding: 0;
// }

// *, *:before, *:after {
//     box-sizing: border-box;
// }

.active {
    text-decoration: underline;
}

a:hover {
    background-color: none;
    text-decoration: underline;
}

// .property-img:hover {
//     transition: transform .5s ease, .5s ease, .5s ease;
// }

.button {
    background-color: $buttonClr;
    // &:hover {
        //todo: animation
    // };
    .small {
        width: 179px;
    }
    .large {
        width: 295px;
        @media (width >= $desktop) {
            width: 353px;
        }
    
    }


};
