// Logga div
.navbar-brand {
    background-color: $selected;
    border-bottom: 1px solid black;
    width: 100vw;
    position: fixed;
    top: 0;
    .navbar-burger {
        position: absolute;
        right: 0;
    };
    @media ($desktop) {
        background-color: $backgroundClr;
        @include flex(center);
    };
};

//Navigationslänkarna div
.navbar-menu {
    .navbar-start{
        position: fixed;
        top: 52px;       
        width: 100vw;
        border-bottom: 1px solid $textClr;
        background-color: $selected;

        .navbar-item {
            border-top: 1px solid $textClr;
            font-family: $family-primary;
            &:hover {
                background-color: lighten($selected, 15%);
                border-left: 1px solid $textClr;
                border-right: 1px solid $textClr;
            };
        };

        @media ($desktop) {
            @include flex (space-around, center); 
            .navbar-item {
                border: 1px solid transparent;
                &.active {
                    background-color: lighten($selected, 15%);
                    border-right: 1px solid black;
                    border-left: 1px solid black;
                }
            };
        };
    };
};

