

/*Header*/
//Logan div
.navbar-brand {
    background-color: $headerClr;
    border-bottom: 1px solid black;
    justify-content: center; 
    width: 100vw;
    position: fixed;
    top: 0;
    @media (width >= 1024px) {
        // position: static;
        //! Hur fungera position för hela navigationen vid scroll
    }
    .navbar-burger {
        position: absolute;
        right: 0;
    }
}

//Navigationslänkarna div
.navbar-menu {
    .navbar-start{
        position: fixed; 
        top: 52px;       
        width: 100vw;
        border-bottom: 1px solid black;
        background-color: $headerClr;
            .navbar-item {
            border-top: 1px solid black;
            &:hover {
                color: black;
                background-color: $selected;
                border-left: 1px solid black;
                border-right: 1px solid black;
            }
            };
        @media (width >= 1024px) {
            @include flex (space-around, center); 
            .navbar-item {
                border: none;
            };
        };
    };

}

