
body {
    background-color: palegoldenrod;
}

main {
    margin: 0 24px;
    padding: 5px 10px;

    h2 {
        margin-left: 40px;
        font-weight: 500;
        font-size: 1.8rem;
    }

    img {
        border-radius: 10px;
    }

    background-color: aquamarine;
    @media (width >= $tablet) {
        margin-inline: auto;
        width: min(90%, 70.5rem);
   
        background-color: pink;
    }
    @media (width >= $desktop) {
        background-color: paleturquoise;
    }
}