
body {
    background-color: palegoldenrod;
}

main {
    margin: 24px;

    background-color: aquamarine;
    @media (width >= $tablet) {
        margin-inline: auto;
        width: min(90%, 70.5rem);
   
        background-color: pink;
    }
    @media (width >= $desktop) {
        background-color: paleturquoise;
        margin-top: 72px;

   
    }
}