@mixin flex ($justify: flex-start, $align: flex-start, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
};

@mixin imgAdjuster ($width: 100%, $height: 100%, $fit: cover, $vAlign: middle) {
    max-width: $width;
    min-height: $height;
    object-fit: $fit;
    vertical-align: $vAlign;
};

@mixin changeClr ($duration: 1.5s, $fillMode: forwards ) {
    animation-name: switchClr;
    animation-duration: $duration;
    animation-fill-mode: $fillMode; 
}
