@mixin flex ($justify: flex-start, $align: flex-start, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
};

@mixin imgAdjuster ($width: 100%, $height: 100%, $fit: cover, $vAlign: middle ) {
    max-width: $width;
    min-height: $height;
    object-fit: $fit;
    vertical-align: $vAlign;
}


//?
@mixin color ($color: red) {
    background-color: $color;
};