    .object-grid {
        @include flex ($direction: column);
        gap: 24px;
        .object-row {
            border-bottom: 1px solid $textClr;
            .column {
                .holder {
                    margin-top: 12px;
                    // border: 1px solid black;
                };
            }
            .object-img {
                //! Funkar ej
                // @include imgAdjuster();
                width: 100%;
                min-height: 100%;
                object-fit: cover;
                vertical-align: middle;
                
               
               
            
                &:hover {
                    cursor: pointer;
                }
                @media ($tablet) {
                    max-height: 250px;
                }
            };
                   
            .property-description {
                text-align: center;

                .object-text {
                    // display:none;
                    // @media ($tablet) {
                    //     display: block;
                    // };
                };
                .city {
                    @include flex (center, center, default);
                    gap: 1.25rem;
                    .logo-mini {
                        height: 20px;
                    };
                    @media ($tablet) {
                        @include flex (flex-start);
                    };
                };
                .spec {
                    @include flex (space-between, center);
                };
                @media ($tablet) {
                    @include flex (space-between, default , column);
                    // gap: 12px;
                    text-align: start;
                    .holder {
                        margin-top: 0px;
                    };
                };
            };
        }
    }
    