


// main div, main {
//     border: 1px solid black;
// };


.property-img {
    max-width: 100%;
    min-height: 100%;
}


.property-description {
    @include flex (space-between, default , column );
    .spec {
        @include flex ($justify: space-between);
        p {
            background-color: pink;
        };
    };
};