//Färger
$headerClr: #D9D9D9;
$backgroundClr: #EAE7DC;
$selected: #d6c2b1;
$textClr: #000000;
$neutralClr: #FFFFFF;
$accentClr: #dff2f7; 

//Fonter
$family-primary: "Libre Baskerville", "Cormorant Garamond", Times, serif;
$family-secondary: "Libre Franklin", sans-serif, "Gill Sans" ,"Trebuchet MS";

//Breakpoints
$tablet: "width >= 769px";
$desktop: "width >= 1024px";


